.flex-container{
    display: flex;
    flex-direction: row;
   
    flex-flow:row wrap;
    justify-content: center;
    background-color: lightskyblue;
}
.flex-container > div{
    background-color:lime;
    width: 100px;
    margin: 10px;
    font-size:18px;
    line-height: 100px;
    color: orange;
    text-align:center;
}

